h1 {
  color: hsl(160, 85.2%, 38.1%);
  font-style: italic;
}
input {
  border-color: black;
  border-style: groove;
}
.error,
.success {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
}
.success {
  color: green;
}
