.contactsTable thead {
  background-color: #f5f5f5;
}
.deleteButton {
  background-color: hsl(0, 77%, 65%);
  border: solid hsl(0, 77%, 40%) 0.1em;
  border-radius: 0.5em;
}
.deleteButton:hover {
  background-color: hsl(0, 77%, 70%);
}
.deleteButton:active {
  background-image: linear-gradient(
    hsl(0, 77%, 60%),
    hsl(0, 77%, 70%),
    hsl(0, 77%, 60%)
  );
}
